Sampled Reads/*
Sample Genomes/*

Out FLYE/*
Out FLYE_1/*
Out FLYE_2/*
Out FLYE_3/*
Out FLYE_4/*


.ipynb_checkpoints/*

Out Megahit/*
Out Megahit_R1/*
Out Megahit_R2/*
Out Megahit_R3/*
Out Megahit_R4/*


!Sampled Reads/.gitkeep 
!Sample Genomes/.gitkeep 
